@{
    ViewBag.Title = "About";
}



<div class="" style="width: 100%; height: 50px; background-color: white;"></div>
<div class="container-fluid" style="background-color: #F8F9FA;">
    <div class="text-center pt-5 reveal">
        <span class="reveal py-2 px-5 fs-3 rounded-4" style="color:purple; background-color: #F8F9FA;"><strong>INSTITUCIONAL</strong></span>
        <div class="d-flex align-items-center justify-content-center my-3 reveal">
            <hr class="mx-2" style="width: 40%; height: 3px; background-color: black; border: none;">
            <span class="px-2 text-muted" style="font-size: 2rem;">
                <i class="fa-solid fa-book"></i>
            </span>
            <hr class="mx-2" style="width: 40%; height: 3px; background-color: black; border: none;">
        </div>
    </div>

    <div class="row gap-3 justify-content-center pb-5 reveal">
        <div class="col-12 text-center my-3">
            <h3><strong>Regras de Boa Convivência</strong></h3>
            <p>
                <strong>LEMBRE-SE:</strong> O local de trabalho é um ambiente de <strong>convívio comum</strong>.
                É importante <strong>respeitar as diferenças</strong> e contribuir para o bom funcionamento e <strong>harmonia do local</strong>.
            </p>
        </div>
        <div class="col-4 col-sm-4 col-md-3">
            <p style="color: purple"><i class="fa-solid fa-volume-high px-2"></i><strong>TOM DE VOZ</strong></p>
            <p>Tenha atenção para não atrapalhar as pessoas que estiverem ao seu lado.</p>
        </div>
        <div class="col-4 col-sm-4 col-md-3">
            <p style="color: purple"><i class="fa-solid fa-face-meh-blank px-2"></i><strong>POSTURA E EDUCAÇÃO</strong></p>
            <p>Não fomente fofocas e não crie ou espalhe boatos.</p>
        </div>
        <div class="col-4 col-sm-4 col-md-3">
            <p style="color: purple"><i class="fa-solid fa-broom px-2"></i><strong>LOCAL DE TRABALHO</strong></p>
            <p>Faça a limpeza da sua mesa pelo menos uma vez por semana.</p>
        </div>
        <div class="col-4 col-sm-4 col-md-3">
            <p style="color: purple"><i class="fa-solid fa-recycle px-2"></i><strong>SEJA ECOLÓGICO</strong></p>
            <p>Pratique os 3 Rs: <br /><strong>Reduza, Reutilize e Recicle</strong>.</p>
        </div>
        <div class="col-4 col-sm-4 col-md-3">
            <p style="color: purple"><i class="fa-solid fa-phone-volume px-2"></i><strong>PUXE AS LIGAÇÕES DO SEU SETOR</strong></p>
            <p>Seja gentil, anote o recado e passe assim que possível.</p>
        </div>
        <div class="col-4 col-sm-4 col-md-3">
            <p style="color: purple"><i class="fa-solid fa-phone-slash px-2"></i><strong>LIGAÇÕES ENTRE RAMAIS</strong></p>
            <p>Não insista em uma ligação caso o ramal esteja ocupado.</p>
        </div>
    </div>
</div>