@{
    ViewBag.Title = "Contact";
}


<link href="https://cdn.datatables.net/v/dt/dt-2.2.2/datatables.min.css" rel="stylesheet" integrity="sha384-2vMryTPZxTZDZ3GnMBDVQV8OtmoutdrfJxnDTg0bVam9mZhi7Zr3J1+lkVFRr71f" crossorigin="anonymous">

<style>
    /* Estilo para a tabela */
    .email-cell:hover {
        cursor: pointer
    }
</style>

<div class="container-fluid mb-5 pt-5" style="background-color: #F8F9FA;">
    <div class="row justify-content-center mx-3 reveal">
        <div class="text-center mt-3">
            <span class="reveal py-2 px-5 fs-3 rounded-4" style="color:purple; background-color: #F8F9FA;"><strong>CONTATOS DOS COLABORADORES</strong></span>
            <div class="d-flex align-items-center justify-content-center my-3 reveal">
                <hr class="mx-2" style="width: 40%; height: 3px; background-color: black; border: none;">
                <span class="px-2 text-muted" style="font-size: 2rem;">
                    <i class="fa-solid fa-phone-flip"></i>
                </span>
                <hr class="mx-2" style="width: 40%; height: 3px; background-color: black; border: none;">
            </div>
        </div>
        <p class="text-center mb-3">Utilize a barra de pesquisa para encontrar o contato de algum colaborador da empresa. </p>
        <div class="col-12 col-md-5 alert alert-danger text-center pt-1 m-0">
        <strong><i class="fa-solid fa-triangle-exclamation fs-3 px-2 pt-2 align-bottom"></i>Não repassar diretamente ligações aos Diretores!!!</strong></div>
        <div class="col-sm-12 col-md-8 mb-3" style="width: 100%; height:900px">
            <table id="myTable2" class="display text-center table-bordered">
                <thead style="background-color: #CCA9DD;">
                    <tr>
                        <th class="text-center">NOME</th>
                        <th class="text-center">RAMAL</th>
                        <th class="text-center">EMAIL</th>
                        <th class="text-center">DEPARTAMENTO</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Diretoria -->
                    <tr>
                        <td>Rodrigo Rocha</td>
                        <td>7711</td>
                        <td class="email-cell">rodrigo@softhair.com.br</td>
                        <td>Diretor</td>
                    </tr>
                    <tr>
                        <td>Berenice</td>
                        <td>7700</td>
                        <td class="email-cell">recepcao@softair.com.br</td>
                        <td>Recepção</td>
                    </tr>
                    <tr>
                        <td>Maria Eduarda</td>
                        <td>7734</td>
                        <td class="email-cell">centrotecnico1@softhair.com.br</td>
                        <td>Centro Técnico</td>
                    </tr>
                    <tr>
                        <td>Thiago Soares</td>
                        <td>7734</td>
                        <td class="email-cell">centrotecnico2@softhair.com.br</td>
                        <td>Centro Técnico</td>
                    </tr>
                    <tr>
                        <td>Jade Dayanne</td>
                        <td>7715</td>
                        <td class="email-cell">promocoes3@softhair.com.br</td>
                        <td>Merchandising</td>
                    </tr>
                    <tr>
                        <td>Livia Carvalho</td>
                        <td>7716</td>
                        <td class="email-cell">promocoes@softhair.com.br</td>
                        <td>Merchandising</td>
                    </tr>

                    <!--Trade Marketing-->
                    <tr>
                        <td>Deivid Rodrigues</td>
                        <td>7742</td>
                        <td class="email-cell">promocoes1@softhair.com.br</td>
                        <td>Trade Marketing</td>
                    </tr>
                    <tr>
                        <td>Luiz Caio</td>
                        <td>7747</td>
                        <td class="email-cell">promocoes4@softhair.com.br</td>
                        <td>Merchandising</td>
                    </tr>

                    <!-- Comercial -->
                    <tr>

                        <td>Rodrigo de Sousa</td>
                        <td>7714</td>
                        <td class="email-cell">rodsousa@softhair.com.br</td>
                        <td>Comercial</td>
                    </tr>
                    <tr>
                        <td>Paula Mendes</td>
                        <td>7707</td>
                        <td class="email-cell">comercial6@softhair.com.br</td>
                        <td>Comercial</td>
                    </tr>
                    <tr>
                        <td>Isadora Mirella</td>
                        <td>7733</td>
                        <td class="email-cell">comercial2@softhair.com.br</td>
                        <td>Comercial</td>
                    </tr>
                    <tr>
                        <td>João Victor</td>
                        <td>7762</td>
                        <td class="email-cell">comercial@softhair.com.br</td>
                        <td>Comercial</td>
                    </tr>
                    <tr>
                        <td>Gerald Dias</td>
                        <td>7761</td>
                        <td class="email-cell">comercial3@softhair.com.br</td>
                        <td>Comercial</td>
                    </tr>
                    <tr>
                        <td>Felipe Vieira</td>
                        <td>7736</td>
                        <td class="email-cell">comercial1@softhair.com.br</td>
                        <td>Comercial</td>
                    </tr>
                    <tr>
                        <td>Tatiane Franco</td>
                        <td>7737</td>
                        <td class="email-cell">comercialpedidos@softhair.com.br</td>
                        <td>Comercial</td>
                    </tr>
                    <tr>
                        <td>Rafael Rocha</td>
                        <td>-</td>
                        <td class="email-cell">rafael@softhair.com.br</td>
                        <td>Gerência Comercial</td>
                    </tr>
                    <tr>
                        <td>André Borges</td>
                        <td>-</td>
                        <td class="email-cell">andreborges@softhair.com.br</td>
                        <td>Gerência Comercial</td>
                    </tr>
                    <tr>
                        <td>Mariana Ferreira</td>
                        <td>7750</td>
                        <td class="email-cell">mariana.silva@softhair.com.br</td>
                        <td>Gestão de Pessoas</td>
                    </tr>
                    <tr>
                        <td>Dayse Mara</td>
                        <td>7710</td>
                        <td class="email-cell">dayse@softhair.com.br</td>
                        <td>RH</td>
                    </tr>
                    <tr>
                        <td>Tininha</td>
                        <td>7746</td>
                        <td class="email-cell">pessoal1@softhair.com.br</td>
                        <td>RH</td>
                    </tr>
                    <tr>
                        <td>Maria Laura</td>
                        <td>7756</td>
                        <td class="email-cell">publicidade@softhair.com.br</td>
                        <td>Marketing</td>
                    </tr>
                    <tr>
                        <td>Jaqueline Rodrigues</td>
                        <td>7758</td>
                        <td class="email-cell">publicidade1@softhair.com.br</td>
                        <td>Marketing</td>
                    </tr>
                    <tr>
                        <td>Pedro Ivo</td>
                        <td>7751</td>
                        <td class="email-cell">criacao@softhair.com.br</td>
                        <td>Marketing</td>
                    </tr>
                    <tr>
                        <td>Luana Alves</td>
                        <td>7728</td>
                        <td class="email-cell">luana.alves@softhair.com.br</td>
                        <td>Marketing</td>
                    </tr>
                    <tr>
                        <td>Camilla Clemence</td>
                        <td>7729</td>
                        <td class="email-cell">camilla.clemence@softhair.com.br</td>
                        <td>Marketing</td>
                    </tr>
                    <tr>
                        <td>Natã Durães</td>
                        <td>-</td>
                        <td class="email-cell">publicidade3@softhair.com.br</td>
                        <td>Marketing</td>
                    </tr>
                    <tr>
                        <td>Luiz Gustavo</td>
                        <td>-</td>
                        <td class="email-cell">publicidade2@softhair.com.br</td>
                        <td>Marketing</td>
                    </tr>

                    <!--E-commerce-->
                    <tr>
                        <td>Karolina Chaves</td>
                        <td>7712</td>
                        <td class="email-cell">ecommerce@softhair.com.br</td>
                        <td>E-Commerce</td>
                    </tr>
                    <tr>
                        <td>Lorrayne Braga</td>
                        <td>7708</td>
                        <td class="email-cell">loja@softhair.com.br</td>
                        <td>E-Commerce</td>
                    </tr>

                    <!-- Compras -->
                    <tr>
                        <td>Dayse Xavier</td>
                        <td>7709</td>
                        <td class="email-cell">compras1@softhair.com.br</td>
                        <td>Compras</td>
                    </tr>
                    <tr>
                        <td>Alana Rodrigues</td>
                        <td>7763</td>
                        <td class="email-cell">compras2@softhair.com.br</td>
                        <td>Compras</td>
                    </tr>

                    <!-- Financeiro / Fiscal -->
                    <tr>
                        <td>Silvânia Maria</td>
                        <td>-</td>
                        <td class="email-cell">silvania@softhair.com.br</td>
                        <td>Financeiro / Fiscal</td>
                    </tr>
                    <tr>
                        <td>Ádila Ribeiro</td>
                        <td>7752</td>
                        <td class="email-cell">financeiro4@softhair.com.br</td>
                        <td>Financeiro / Fiscal</td>
                    </tr>
                    <tr>
                        <td>Izabela Amora</td>
                        <td>7704</td>
                        <td class="email-cell">fiscal@softhair.com.br</td>
                        <td>Financeiro / Fiscal</td>
                    </tr>
                    <tr>
                        <td>Danielle Stefânia</td>
                        <td>7705</td>
                        <td class="email-cell">financeiro1@softhair.com.br</td>
                        <td>Financeiro / Fiscal</td>
                    </tr>
                    <tr>
                        <td>Crimácia Oliveira</td>
                        <td>7713</td>
                        <td class="email-cell">faturamento@softhair.com.br</td>
                        <td>Financeiro / Fiscal</td>
                    </tr>
                    <tr>
                        <td>Camila Barbosa</td>
                        <td>7732</td>
                        <td class="email-cell">financeiro2@softhair.com.br</td>
                        <td>Financeiro / Fiscal</td>
                    </tr>
                    <tr>
                        <td>Nancy</td>
                        <td>7720</td>
                        <td class="email-cell">financeiro5@softhair.com.br</td>
                        <td>Financeiro / Fiscal</td>
                    </tr>
                    <!-- Jurídico -->
                    <tr>
                        <td>Letícia Rodrigues</td>
                        <td>7701</td>
                        <td class="email-cell">leticia@softhair.com.br</td>
                        <td>Jurídico</td>
                    </tr>
                    <tr>
                        <td>Andreza Domenicci</td>
                        <td>7722</td>
                        <td class="email-cell">andreza@softhair.com.br</td>
                        <td>Jurídico</td>
                    </tr>
                    <tr>
                        <td>Aline Moreira</td>
                        <td>7731</td>
                        <td class="email-cell">juridico2@softhair.com.br</td>
                        <td>Jurídico</td>
                    </tr>
                    <tr>
                        <td>Karoline Oliveira</td>
                        <td>7739</td>
                        <td class="email-cell">juridico1@softhair.com.br</td>
                        <td>Jurídico</td>
                    </tr>
                    <tr>
                        <td>Victor César</td>
                        <td>7757</td>
                        <td class="email-cell">juridico3@softhair.com.br</td>
                        <td>Jurídico</td>
                    </tr>

                    <!-- TI -->
                    <tr>
                        <td>Luiz Guilherme</td>
                        <td>7727</td>
                        <td class="email-cell">cpd@softhair.com.br</td>
                        <td>TI</td>
                    </tr>
                    <tr>
                        <td>Miguel Salles</td>
                        <td>7749</td>
                        <td class="email-cell">sistemas1@softhair.com.br</td>
                        <td>TI</td>
                    </tr>
                    <tr>
                        <td>Fagner Miguel</td>
                        <td>7749</td>
                        <td class="email-cell">sistemas@softhair.com.br</td>
                        <td>TI</td>
                    </tr>

                    <!-- Produção -->
                    <tr>
                        <td>Denise Vasconcelos</td>
                        <td>7719</td>
                        <td class="email-cell">laboratorio@softhair.com.br</td>
                        <td>Produção</td>
                    </tr>

                    <!-- Logística / Transportes -->
                    <tr>
                        <td>Diego Madureira</td>
                        <td>7718</td>
                        <td class="email-cell">transportes@softhair.com.br</td>
                        <td>Logística / Transportes</td>
                    </tr>
                    <tr>
                        <td>Antônio Sérgio</td>
                        <td>7717</td>
                        <td class="email-cell">sergio@softhair.com.br</td>
                        <td>Logística / Transportes</td>
                    </tr>

                    <!-- Laboratório -->
                    <tr>
                        <td>Josiane Braga / Sindy</td>
                        <td>7721</td>
                        <td class="email-cell">josiane@softhair.com.br</td>
                        <td>Laboratório</td>
                    </tr>
                    <tr>
                        <td>Michelle</td>
                        <td>7735</td>
                        <td class="email-cell">garantiaq3@softhair.com.br</td>
                        <td>Laboratório</td>
                    </tr>
                    <tr>
                        <td>Anna Karla</td>
                        <td>7741</td>
                        <td class="email-cell">industrial@softhair.com.br</td>
                        <td>Laboratório</td>
                    </tr>
                    <tr>
                        <td>Fernanda / Cida</td>
                        <td>7741</td>
                        <td class="email-cell">controleq4@softhair.com.br</td>
                        <td>Laboratório</td>
                    </tr>
                    <tr>
                        <td>Cecília</td>
                        <td>7741</td>
                        <td class="email-cell">producao@softhair.com.br</td>
                        <td>Laboratório</td>
                    </tr>

                    <!-- RRS Vendas -->
                    <tr>
                        <td>Débora Transladação</td>
                        <td>-</td>
                        <td class="email-cell">comercial@rrsvendas.com.br</td>
                        <td>RRS Vendas</td>
                    </tr>

                    <!-- Qualidade -->
                    <tr>
                        <td>Lívia Rodrigues</td>
                        <td>7753</td>
                        <td class="email-cell">livia@softhair.com.br</td>
                        <td>Qualidade</td>
                    </tr>
                    <tr>
                        <td>Ana Beatriz</td>
                        <td>7723</td>
                        <td class="email-cell">controleq3@softhair.com.br</td>
                        <td>Qualidade</td>
                    </tr>
                    <tr>
                        <td>Gabriela Maciel</td>
                        <td>7754</td>
                        <td class="email-cell">qualidade@softhair.com.br</td>
                        <td>Qualidade</td>
                    </tr>

                    <!-- CD -->
                    <tr>
                        <td>Samuel / Camila</td>
                        <td>3582-6999</td>
                        <td class="email-cell">cd@softhair.com.br</td>
                        <td>CD</td>
                    </tr>

                    <!-- Além Paraíba 467 -->
                    <tr>
                        <td>Maria José</td>
                        <td>2510-2336</td>
                        <td class="email-cell">embalagensfilial@softhair.com.br</td>
                        <td>Além Paraíba 467</td>
                    </tr>

                    <!-- Vitrine DISTRIBUIDORA -->
                    <tr>
                        <td>Bárbara</td>
                        <td>(31) 97589-1166</td>
                        <td class="email-cell">vitrine.distrib@gmail.com</td>
                        <td>Vitrine DISTRIBUIDORA</td>
                    </tr>
                    <tr>
                        <td>Daisy Paula</td>
                        <td>(31) 98451-9239</td>
                        <td class="email-cell">vitrine.qualidade@gmail.com</td>
                        <td>E-Commerce</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12 text-center pb-5">
        <h2 class="reveal text-center" style="color: purple;">
            <strong>INSTRUÇÕES PARA LIGAÇÕES TELEFÔNICAS</strong>
        </h2>
        <div class="d-flex align-items-center justify-content-center my-3 reveal">
            <hr class="mx-2" style="width: 40%; height: 3px; background-color: black; border: none;">
            <span class="px-2 text-muted" style="font-size: 2rem;">
                <i class="fa-solid fa-hashtag"></i>
            </span>
            <hr class="mx-2" style="width: 40%; height: 3px; background-color: black; border: none;">
        </div>
        <div class="reveal" style="font-size: 1.2rem; color: #333;">
            <p>Prezados(as),</p>
            <p>Visando orientar e padronizar a utilização do sistema telefônico interno, seguem abaixo as instruções para realizar ligações:</p>

            <p style="color: purple"><i class="fa-solid fa-circle" style="font-size: smaller"></i> <strong>Para Puxar Ligações:</strong></p>
            <p>5 + RAMAL DESEJADO</p>

            <p style="color: purple"><i class="fa-solid fa-circle" style="font-size: smaller"></i> <strong>Para Transferir Ligações:</strong></p>
            <p>FLASH + RAMAL DESEJADO</p>

            <p style="color: purple"><i class="fa-solid fa-circle" style="font-size: smaller"></i> <strong>Interurbano Para Telefone Fixo:</strong></p>
            <p>0 + DDD + NÚMERO DO TELEFONE</p>
            <p>
                <em class=""><strong>Atenção: Não utilize código de operadora para chamadas interurbanas para telefone fixo.</strong></em><br>
                <em class=""><strong>Proibido realizar ligações do fixo para celular.</strong></em>
            </p>

                 <p style="color: purple"><i class="fa-solid fa-circle" style="font-size: smaller"></i> <strong>Interurbano Para Celular:</strong></p><p>021 + DDD + NÚMERO DO CELULAR</p>
                ✅ <em>Utilizar sempre a operadora Claro para esse tipo de ligação.</em>


            <p>Em caso de dúvidas, entre em contato com o setor de TI.</p>

        </div>
    </div>
</div>

        <div class="col-12 mb-5">
            <h2 class="reveal text-center" style="color: purple;"><strong>SIGA-NOS NAS REDES SOCIAIS</strong></h2>
            <div class="d-flex align-items-center justify-content-center my-3 reveal">
                <hr class="mx-2" style="width: 40%; height: 3px; background-color: black; border: none;">
                <span class="px-2 text-muted" style="font-size: 2rem;">
                    <i class="fa-solid fa-at"></i>
                </span>
                <hr class="mx-2" style="width: 40%; height: 3px; background-color: black; border: none;">
            </div>
        </div>

    <div class="container-fluid my-5">
        <div class="row text-center justify-content-around">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-2 mb-md-5 mb-lg-2">
                <div class="fs-4" style="color: lightgray"><i class="fa-brands fa-instagram px-2" style="color: #d3d3d3;"></i>softhaircosmeticos</div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-2">
                <div class="fs-4" style="color: lightgray"><i class="fa-brands fa-instagram px-2" style="color: #d3d3d3;"></i>biosoftcosmeticos</div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-2">
                <div class="fs-4" style="color: lightgray"><i class="fa-brands fa-facebook px-2" style="color: #d3d3d3;"></i>softhaircosmeticos</div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-2 mb-lg-2 mb-md-5">
                <div class="fs-4" style="color: lightgray"><i class="fa-brands fa-youtube px-2" style="color: #d3d3d3;"></i>softhairoficial</div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-2">
                <div class="fs-4" style="color: lightgray"><i class="fa-brands fa-linkedin px-2" style="color: #d3d3d3;"></i>softhaircosmeticos</div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-2 mb-md-5 mb-lg-2">
                <div class="fs-4" style="color: lightgray"><i class="fa-brands fa-tiktok px-2" style="color: #d3d3d3;"></i>softhaircosmeticos</div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-lg-2 mb-md-5 mb-2">
                <div class="fs-4" style="color: lightgray"><i class="fa-brands fa-tiktok px-2" style="color: #d3d3d3;"></i>biosoftcosmeticos</div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="fs-4" style="color: lightgray"><i class="fa-brands fa-pinterest px-2" style="color: #d3d3d3;"></i>softhaircosmeticos</div>
            </div>
            <div class="col-12 col-md-5 my-2 ">
                <a href="https://loja.softhair.com.br" target="_blank" style="color: purple;" class="text-decoration-none">
                    <h3>loja.softhair.com.br</h3>
                </a>
            </div>
            <div class="col-12 col-md-5 my-2 ">
                <a href="https://softhair.com.br/" target="_blank" style="color: purple;" class="text-decoration-none">
                    <h3>softhair.com.br</h3>
                </a>
            </div>
        </div>
    </div>



    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>

    <script src="https://cdn.datatables.net/v/dt/dt-2.2.2/datatables.min.js" integrity="sha384-2Ul6oqy3mEjM7dBJzKOck1Qb/mzlO+k/0BQv3D3C7u+Ri9+7OBINGa24AeOv5rgu" crossorigin="anonymous"></script>

    <script>
        new DataTable('#myTable2', {
            paging: false,
            scrollCollapse: true,
            ordering: false,
            layout: {
                topStart: 'search',
                topEnd: null,
                bottomStart: null,
            },
            scrollY: '700px', // Aqui você pode configurar o número de itens por página se quiser, mas o menu não será exibido
            language: {
                search: "🔍",
                searchPlaceholder: "PESQUISE AQUI...",
                decimal: ",",
                "sInfo": "",
            },
        });

        // Ajustando a largura da pesquisa
        $('.dt-search').css({
            'padding-bottom': '15px',
        });
        $(document).ready(function () {
            // Adicionando o evento de clique para copiar o email
            $('.email-cell').click(function () {
                // Copiar o conteúdo da célula para a área de transferência
                var email = $(this).text();

                // Usando a API do Clipboard
                navigator.clipboard.writeText(email).then(function () {
                    // Feedback para o usuário (alerta simples)
                    alert('Email copiado para a área de transferência: ' + email);
                }).catch(function (err) {
                    alert('Erro ao copiar o email: ' + err);
                });
            });
        });
    </script>

