@{
    ViewBag.Title = "Home Page";
}



<link href="https://cdn.datatables.net/v/dt/dt-2.2.2/datatables.min.css" rel="stylesheet" integrity="sha384-2vMryTPZxTZDZ3GnMBDVQV8OtmoutdrfJxnDTg0bVam9mZhi7Zr3J1+lkVFRr71f" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<style>
    #calendar {
        max-width: 900px;
        margin: 0 auto;
        background-color: white;
        border-radius: 8px;
    }

    .fc-toolbar {
        background-color: white;
        color: #85276B;
        border-radius: 8px 8px 0 0;
    }

    .fc-button {
        background-color: #85276B;
        color: white;
        border: none;
    }

        .fc-button:hover {
            background-color: #0056b3;
        }

    .fc-event {
        border-radius: 4px;
        padding: 5px;
    }

        .fc-event:hover {
            cursor: pointer;
            opacity: 0.8;
        }

        /* Estilos para feriados nacionais (vermelho) */
        .fc-event.national {
            background-color: #ff6b6b;
        }

        /* Estilos para feriados municipais (azul) */
        .fc-event.municipal {
            background-color: #007bff;
        }

        .fc-event.event {
            background-color: #eead2d;
        }

    /*Estilização do scroll Reveal*/
    .reveal {
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.6s ease, transform 0.6s ease;
    }

        .reveal.active {
            opacity: 1;
            transform: translateY(0);
        }

    #holiday-legend-container {
        margin-top: 20px;
        padding: 20px;
        background: linear-gradient(to right, #f9f9f9, #e6f2ff);
        border-radius: 16px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        max-width: 600px;
        font-family: 'Segoe UI', sans-serif;
    }

        #holiday-legend-container h3 {
            margin-bottom: 15px;
            color: #003366;
            font-size: 1.5rem;
            border-bottom: 2px solid #cce6ff;
            padding-bottom: 8px;
        }

    #holiday-legend {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        #holiday-legend li {
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 12px;
            border-radius: 10px;
            margin-bottom: 10px;
            background-color: #ffffff;
            /* REMOVE a cor padrão da borda esquerda */
            border-left: 6px solid transparent;
            box-shadow: 0 2px 6px rgba(0,0,0,0.05);
            transition: transform 0.2s;
        }

            #holiday-legend li:hover {
                transform: scale(1.02);
                background-color: #f0f8ff;
            }

            /* Aplica a cor da borda corretamente */
            #holiday-legend li.national {
                border-left-color: #e53935; /* vermelho */
            }

            #holiday-legend li.municipal {
                border-left-color: #1e88e5; /* azul */
            }

            #holiday-legend li.event {
                border-left: 5px solid #fbc02d; /* amarelo */
                padding-left: 8px;
                margin-bottom: 5px;
            }

            #holiday-legend li span {
                font-weight: bold;
                color: #333;
            }

            #holiday-legend li .icon {
                font-size: 1.3rem;
            }
</style>



<!-- Banner -->
<div class="container-fluid p-0">
    <!--<div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000" data-bs-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Content/Banner/Banner institucional Soft Hair intranet.jpg"
                     class="d-block img-fluid"
                     style="object-fit: cover; width: 100%;">
            </div>

            <div class="carousel-item">
                <img src="~/Content/Banner/Banner - intranet (Cereja).jpg"
                     class="d-block img-fluid"
                     style="object-fit: cover; width: 100%;">
                <div class="carousel-caption d-none d-lg-block text-start" style="bottom: 20px; left: 20px;">

                </div>
            </div>

            <div class="carousel-item">
                <img src="~/Content/Banner/Baner SIPATE.jpg"
                     class="d-block img-fluid"
                     style="object-fit: cover; width: 100%;">
                <div class="carousel-caption d-none d-lg-block text-start" style="bottom: 20px; left: 20px;">

                </div>
            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Próximo</span>
        </button>

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
    <!--Adicione mais indicadores se houver mais slides -->
    <!--</div>
    </div>-->

    <div class="position-relative">
        <img src="~/Content/Imagens/SetembroAmarelo.png" class="img-fluid" alt="...">

        <a href="http://192.168.0.200/sics/SetembroAmarelo/index.html" target="_blank" class="btn position-absolute bottom-0 end-0 m-3 text-white" style="background-color:#800080">
            SAIBA MAIS
        </a>
    </div>
    <div class="text-center mt-5">
        <span class=" py-2 px-5 fs-3 rounded-4" style="color: purple; background-color: #F8F9FA; "><strong>AVISOS</strong></span>
        <div class="d-flex align-items-center justify-content-center my-3">
            <hr class="mx-2" style="width: 40%; height: 3px; background-color: black; border: none;">
            <span class="px-2 text-muted" style="font-size: 2rem;">
                <i class="fa-solid fa-triangle-exclamation"></i>
            </span>
            <hr class="mx-2" style="width: 40%; height: 3px; background-color: black; border: none;">
        </div>
    </div>
    <p class="text-center mb-5">Todos os avisos ativos presentes em um só lugar</p>

    <div class="row mt-3 mb-5 justify-content-around reveal" style="width: 100%;">

        <div class="col-8 col-md-3 mb-3 mx-2">
            <div class="card alert alert-warning px-0 pt-0"
                 style="height: 100%; cursor: pointer;"
                 data-bs-toggle="modal" data-bs-target="#infoModal">
                <img src="~/Content/Avisos/Comunicado 002-2025- Entregas Pessoais-imagens-0.jpg" class="card-img-top rounded-top-3" alt="Entregas pessoais"
                     style="width: 100%; height: 150px; object-fit: cover; object-position: top;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Entregas Pessoais</strong></h5>
                    <p class="card-text">Sobre a responsabilização e novas normas para o recebimento de Entregas pessoais na empresa.</p>
                </div>
            </div>
        </div>

        @*<div class="col-8 col-md-3 mb-3 mx-2">
                <div class="card alert alert-warning px-0 pt-0"
                     style="height: 100%; cursor: pointer;"
                     data-bs-toggle="modal" data-bs-target="#infoModal1">
                    <img src="~/Content/Banner/Banner dia do trabalhador_CV - compacto.jpg" class="card-img-top rounded-top-3" alt="Dia dos Trabalhadores"
                         style="width: 100%; height: 150px; object-fit: cover; object-position: top;">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Dia dos Trabalhadores!</strong></h5>
                        <p class="card-text">Dê uma olhada em quem faz tudo acontecer!</p>
                    </div>
                </div>
            </div>*@

        <div class="col-8 col-md-3 mb-3 mx-2">
            <div class="card alert alert-warning px-0 pt-0"
                 style="height: 100%; cursor: pointer;"
                 data-bs-toggle="modal" data-bs-target="#infoModal2">
                <img src="~/Content/Avisos/Comunicado 001-2025  Empréstimo Consignado-imagens-0.jpg" class="card-img-top rounded-top-3" alt="Comunicado sobre Uniformes"
                     style="width: 100%; height: 150px; object-fit: cover; object-position: top;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Empréstimos Consignados</strong></h5>
                    <p class="card-text">Tudo o que você precisa saber sobre o empréstimo consignado.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center py-5 reveal" style="background-color: #F8F9FA; margin-left: 0; margin-right: 0;" id="aniversariantesSection">
        <div class="text-center mt-5">
            <span class="reveal py-2 px-5 fs-3 rounded-4" style="color:purple; background-color: #F8F9FA;"><strong>ANIVERSARIANTES DO MÊS</strong></span>
            <div class="d-flex align-items-center justify-content-center my-3 reveal">
                <hr class="mx-2" style="width: 40%; height: 3px; background-color: black; border: none;">
                <span class="px-2 text-muted" style="font-size: 2rem;">
                    <i class="fa-solid fa-cake"></i>
                </span>
                <hr class="mx-2" style="width: 40%; height: 3px; background-color: black; border: none;">
            </div>
        </div>
        <p class="text-center mb-5 reveal">Parte destinada a todos os aniversariante do mês</p>

        <div class="col-10 col-sm-12 col-md-8 reveal mb-5">
            <table id="myTable" class="display table-responsive">
                <thead>
                    <tr style="background-color: violet;">
                        <th>NOME</th>
                        <th>ANIVERSÁRIO</th>
                        <th>DEPARTAMENTO</th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    <!-- Setembro -->
                    <tr><td>Isadora Mirella</td><td>01/09</td><td>Administrativo</td></tr>
                    <tr><td>Livia Carvalho</td><td>02/09</td><td>Administrativo</td></tr>
                    <tr><td>Fabio Alexandre</td><td>05/09</td><td>Produção</td></tr>
                    <tr><td>Fagner Miguel</td><td>07/09</td><td>Administrativo</td></tr>
                    <tr><td>Larissa Graciela</td><td>10/09</td><td>Produção</td></tr>
                    <tr><td>Silvia Carvalho</td><td>12/09</td><td>Elza/CD</td></tr>
                    <tr><td>Marlon Campo</td><td>14/09</td><td>Elza/CD</td></tr>
                    <tr><td>Ilma Rosa</td><td>15/09</td><td>Produção</td></tr>
                    <tr><td>Angelo José</td><td>15/09</td><td>Elza/CD</td></tr>
                    <tr><td>Alana Rodrigues</td><td>16/09</td><td>Administrativo</td></tr>
                    <tr><td>Juliana Lig</td><td>18/09</td><td>Produção</td></tr>
                    <tr><td>Ana Paula</td><td>20/09</td><td>Produção</td></tr>
                    <tr><td>Sindy Lauren</td><td>26/09</td><td>Produção</td></tr>
                    <tr><td>Thalyta Cristyellem</td><td>26/09</td><td>Administrativo</td></tr>
                    <tr><td>Eloisa Vieira</td><td>26/09</td><td>Visão</td></tr>
                    <tr><td>Renato Santos</td><td>29/09</td><td>Elza/CD</td></tr>

                </tbody>
            </table>
        </div>

        <span class="reveal py-2 px-5 fs-3 rounded-4 text-center" style="color:purple; background-color: #F8F9FA;"><strong>FICHA DE GINÁSTICA - ESCRITÓRIO</strong></span>
        <div class="d-flex align-items-center justify-content-center my-3 reveal">
            <hr class="mx-2" style="width: 40%; height: 3px; background-color: black; border: none;">
            <span class="px-2 text-muted text-center" style="font-size: 2rem;">
                <i class="fa-solid fa-people-group"></i>
            </span>
            <hr class="mx-2" style="width: 40%; height: 3px; background-color: black; border: none;">
        </div>
        <div class="col-8">
            <table id="myTable3" class="display table-responsive table-bordered text-center reveal">
                <thead>
                    <tr style="background-color: violet;">
                        <th>DATA</th>
                        <th>NOME</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Setembro -->
                    <tr><td>01/set</td><td>Andreza</td></tr>
                    <tr><td>02/set</td><td>Berenice Longuinhos</td></tr>
                    <tr><td>03/set</td><td>Camila Barbosa</td></tr>
                    <tr><td>04/set</td><td>Crimacia Oliveira</td></tr>
                    <tr><td>05/set</td><td>Danielle Stefânia</td></tr>
                    <tr><td>08/set</td><td>Dayse Mara</td></tr>
                    <tr><td>09/set</td><td>Dayse Xavier</td></tr>
                    <tr><td>10/set</td><td>Deivid Rodrigues</td></tr>
                    <tr><td>11/set</td><td>Fagner Miguel</td></tr>
                    <tr><td>12/set</td><td>Cellosize</td></tr>
                    <tr><td>15/set</td><td>Gerald Wagner</td></tr>
                    <tr><td>16/set</td><td>Isadora Mirella</td></tr>
                    <tr><td>17/set</td><td>Izabela Amora</td></tr>
                    <tr><td>18/set</td><td>Jade Dayanne</td></tr>
                    <tr><td>19/set</td><td>Jaqueline</td></tr>
                    <tr><td>22/set</td><td>João Victor</td></tr>
                    <tr><td>23/set</td><td>Karolina</td></tr>
                    <tr><td>24/set</td><td>Karoline Oliveira</td></tr>
                    <tr><td>25/set</td><td>Lívia Carvalho</td></tr>
                    <tr><td>26/set</td><td>Luiz Caio</td></tr>
                    <tr><td>29/set</td><td>Luiz Gustavo</td></tr>
                    <tr><td>30/set</td><td>Marco Tulio</td></tr>

                    <!-- Outubro -->
                    <tr><td>01/out</td><td>Maria Eduarda</td></tr>
                    <tr><td>02/out</td><td>Maria Laura</td></tr>
                    <tr><td>03/out</td><td>Natã</td></tr>
                    <tr><td>06/out</td><td>Paula</td></tr>
                    <tr><td>07/out</td><td>Pedro Ivo</td></tr>
                    <tr><td>08/out</td><td>Quintiliana (Tininha)</td></tr>
                    <tr><td>09/out</td><td>Tatiane Franco</td></tr>
                    <tr><td>10/out</td><td>Thalyta</td></tr>
                    <tr><td>13/out</td><td>Thiago Soares</td></tr>
                    <tr><td>14/out</td><td>Victor César</td></tr>
                    <tr><td>15/out</td><td>Adila Ribeiro</td></tr>
                    <tr><td>16/out</td><td>Alana</td></tr>
                    <tr><td>17/out</td><td>Aline Moreira</td></tr>
                    <tr><td>20/out</td><td>Andreza</td></tr>
                    <tr><td>21/out</td><td>Berenice Longuinhos</td></tr>
                    <tr><td>22/out</td><td>Camila Barbosa</td></tr>
                    <tr><td>23/out</td><td>Crimacia Oliveira</td></tr>
                    <tr><td>24/out</td><td>Danielle Stefânia</td></tr>
                    <tr><td>27/out</td><td>Dayse Mara</td></tr>
                    <tr><td>28/out</td><td>Dayse Xavier</td></tr>
                    <tr><td>29/out</td><td>Deivid Rodrigues</td></tr>
                    <tr><td>30/out</td><td>Fagner Miguel</td></tr>
                    <tr><td>31/out</td><td>Felipe</td></tr>
                </tbody>
            </table>
        </div>
        @*<div class="col-sm-12 col-md-6 reveal">
                <img src="~/Content/Imagens/birthday.png" class="img-fluid"/>
            </div>*@
    </div>

    <div class="container reveal" id="calendarioSection" style="height: 50px">
    </div>
    <div class="text-center mt-5">
        <span class="reveal py-2 px-5 fs-3 rounded-4" style="color:purple; background-color: #F8F9FA;"><strong>CALENDÁRIO</strong></span>
        <div class="d-flex align-items-center justify-content-center my-3 reveal">
            <hr class="mx-2" style="width: 40%; height: 3px; background-color: black; border: none;">
            <span class="px-2 text-muted" style="font-size: 2rem;">
                <i class="fa-solid fa-calendar-days"></i>
            </span>
            <hr class="mx-2" style="width: 40%; height: 3px; background-color: black; border: none;">
        </div>
    </div>
    <p class="text-center mb-5 reveal">Aqui se encontra o Calendário oficial da empresa</p>

    <div class="row justify-content-center my-5 reveal w-100">
        <div class="col-12 col-sm-12 col-md-5" id='calendar' style="width: 45%"></div>
        <div class="col-10 col-sm-12 col-md-5 text-center">
            <h4 class="my-3">🗓️ DATAS COMEMORATIVAS</h4>
            <ul id="holiday-legend" class="list-unstyled"></ul>
            <ul id="holiday-legend" class="list-unstyled"></ul>
        </div>
    </div>
</div>
    <!-- Modal 1 -->
    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel">Novas regras sobre Entregas Pessoais</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <img src="~/Content/Avisos/Comunicado 002-2025- Entregas Pessoais-imagens-0.jpg" class="" style="max-height: 90vh;" />
                    <img src="~/Content/Avisos/Comunicado 002-2025- Entregas Pessoais-imagens-1.jpg" class="" style="max-height: 90vh;" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 2 -->
    <div class="modal fade" id="infoModal1" tabindex="-1" aria-labelledby="infoModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel1">Banner do Dia dos Trabalhadores</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <img src="~/Content/Banner/Banner dia do trabalhador_CV - compacto.jpg" class="img-fluid" style="max-height: 90vh;" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 3 -->
    <div class="modal fade" id="infoModal2" tabindex="-1" aria-labelledby="infoModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel2">Sobre Empréstimos Consignados</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <img src="~/Content/Avisos/Comunicado 001-2025  Empréstimo Consignado-imagens-0.jpg" class="" style="max-height: 90vh;" />
                    <img src="~/Content/Avisos/Comunicado 001-2025  Empréstimo Consignado-imagens-1.jpg" class="" style="max-height: 90vh;" />
                    <img src="~/Content/Avisos/Comunicado 001-2025  Empréstimo Consignado-imagens-2.jpg" class="" style="max-height: 90vh;" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>






    <!-- FullCalendar CSS e JS via CDN -->
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>

    <!-- Scripts -->

    <script src="https://cdn.datatables.net/v/dt/dt-2.2.2/datatables.min.js" integrity="sha384-2Ul6oqy3mEjM7dBJzKOck1Qb/mzlO+k/0BQv3D3C7u+Ri9+7OBINGa24AeOv5rgu" crossorigin="anonymous"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>


    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var legendEl = document.getElementById('holiday-legend');

            var holidays = [
                { title: 'Confraternização Universal', date: '2025-01-01', type: 'national' },
                { title: 'Carnaval', date: '2025-03-03', type: 'national' },
                { title: 'Carnaval', date: '2025-03-04', type: 'national' },
                { title: 'Carnaval', date: '2025-03-05', type: 'national' },
                { title: 'Tiradentes', date: '2025-04-21', type: 'national' },
                { title: 'Dia do Trabalho', date: '2025-05-01', type: 'national' },
                { title: 'Independência do Brasil', date: '2025-09-07', type: 'national' },
                { title: 'Nossa Senhora Aparecida', date: '2025-10-12', type: 'national' },
                { title: 'Finados', date: '2025-11-02', type: 'national' },
                { title: 'Proclamação da República', date: '2025-11-15', type: 'national' },
                { title: 'Dia da Consciência Negra', date: '2025-11-20', type: 'national' },
                { title: 'Natal', date: '2025-12-25', type: 'national' },
                { title: 'Sexta-feira da Paixão', date: '2025-04-18', type: 'municipal' },
                { title: 'Corpus Christi', date: '2025-06-19', type: 'municipal' },
                { title: 'Nossa Senhora do Carmo', date: '2025-07-16', type: 'municipal' },
                { title: 'Assunção de Nossa Senhora', date: '2025-08-15', type: 'municipal' },
                { title: 'Imaculada Conceição', date: '2025-12-08', type: 'municipal' },

                //{ title: 'Aniversariantes de Junho', date: '2025-06-10', type: 'event' },
                //{ title: 'Aniversariantes de Julho', date: '2025-07-08', type: 'event' },
                //{ title: 'Aniversariantes de Agosto', date: '2025-08-12', type: 'event' },
                //{ title: 'Aniversariantes de Setembro', date: '2025-09-16', type: 'event' },
                //{ title: 'Aniversariantes de Outubro', date: '2025-10-07', type: 'event' },
                //{ title: 'Aniversariantes de Novembro', date: '2025-11-11', type: 'event' },
                //{ title: 'Aniversariantes de Dezembro', date: '2025-12-09', type: 'event' }
            ];

            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'pt-br',
                initialView: 'dayGridMonth',
                buttonText: {
                    today: 'Hoje'  // Altera o texto do botão "Today" para "Hoje"
                },
                events: holidays.map(h => ({ title: h.title, start: h.date, className: h.type })),
                datesSet: function (info) {
                    updateLegend(info.view.currentStart);
                }
            });

            calendar.render();

            function updateLegend(currentDate) {
                var currentMonth = currentDate.getMonth() + 1;
                var currentYear = currentDate.getFullYear();
                var filteredHolidays = holidays.filter(h => {
                    var parts = h.date.split('-');
                    var holidayDate = new Date(parts[0], parts[1] - 1, parts[2]); // evita bug UTC
                    return holidayDate.getMonth() + 1 === currentMonth && holidayDate.getFullYear() === currentYear;
                });

                legendEl.innerHTML = filteredHolidays.length ?
                    filteredHolidays.map(h => {
                        let icon = '';
                        if (h.type === 'national') icon = '🇧🇷';
                        else if (h.type === 'municipal') icon = '🏙️';
                        else if (h.type === 'event') icon = '🎉';
                        const [year, month, day] = h.date.split('-');
                        return `<li class="${h.type}">
                            <span class="icon">${icon}</span>
                            <span>${h.title} - ${day}/${month}/${year}</span>
                        </li>`;
                    }).join('') :
                    '<li><span class="icon">📭</span><span>Sem feriados neste mês</span></li>';
            }
        });

    </script>

    <script>
        // Tabela dos aniversariantes
        new DataTable('#myTable', {
            paging: false,
            scrollX: true,
            order: [[1, "asc"]],
            searching: false,
            language: {
                search: "PESQUISAR", // Label do input de pesquisa
                decimal: ",",
                "sInfo": "",
            },

        });

        // Tabela da Ginástica
        new DataTable('#myTable3', {
            paging: false,
            scrollCollapse: true,
            ordering: false,
            layout: {
                topStart: 'search',
                topEnd: null,
                bottomStart: null,
            },
            scrollY: '600px', // Aqui você pode configurar o número de itens por página se quiser, mas o menu não será exibido
            language: {
                search: "🔍",
                searchPlaceholder: "PESQUISE AQUI...",
                decimal: ",",
                "sInfo": "",
            },
        });


        //// Função para revelar elementos ao rolar a página
        //function revealOnScroll() {
        //    $(".reveal").each(function () {
        //        const windowHeight = $(window).height();
        //        const elementTop = $(this).offset().top;
        //        const scrollTop = $(window).scrollTop();
        //        const revealPoint = 150;

        //        // Só adiciona a classe "active" se o elemento não tiver sido revelado ainda
        //        if (elementTop < scrollTop + windowHeight - revealPoint) {
        //            $(this).addClass("active");
        //        }
        //    });
        //}


        $(document).ready(function () {

            ////Modal de Avisos Importantes que são abertos ao carregar a página
            //var meuModal = new bootstrap.Modal(document.getElementById('meuModal'));
            //meuModal.show();

            // Função de efeito de máquina de escrever no título
            function typeWriter(element, text, speed) {
                let i = 0;
                function typing() {
                    if (i < text.length) {
                        $(element).append(text.charAt(i));
                        i++;
                        setTimeout(typing, speed);
                    }
                }
                typing();
            }
            // Chamar a função ao rolar a página
            $(window).on('scroll', function () {
                revealOnScroll();
            });

            // Chamar a função ao carregar para os elementos visíveis já aparecerem
            revealOnScroll();

            const text = $("#avisosSection").text();
            $("#avisosSection").text(""); // Limpar o texto para iniciar o efeito
            typeWriter("#avisosSection", text, 125);
        });


        // Script para deixar os aniversariantes do dia em destaque
        document.addEventListener("DOMContentLoaded", function () {
            const hoje = new Date();
            const diaAtual = hoje.getDate().toString().padStart(2, '0');
            const mesAtual = (hoje.getMonth() + 1).toString().padStart(2, '0');
            const dataAtual = `${diaAtual}/${mesAtual}`;

            const linhas = document.querySelectorAll("#myTable tbody tr");

            linhas.forEach(tr => {
                const tdData = tr.children[1]; // segunda coluna = data de aniversário
                if (tdData && tdData.textContent.trim() === dataAtual) {
                    tr.style.backgroundColor = "#ffff99"; // Amarelo claro
                    tr.style.fontWeight = "bold";
                }
            });
        });
    </script>
