
@{
    ViewBag.Title = "Lancamentos";
}

<style>
    .image-hover {
        position: relative;
        overflow: hidden;
    }

        .image-hover:hover .overlay {
            opacity: 1;
        }

        .image-hover:hover img {
            transform: scale(1.1); /* Zoom na imagem */
        }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(128, 0, 128, 0.3); /* Roxo transparente */
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .image-hover img {
        transition: transform 0.3s ease;
    }

    .btn-ver-mais {
        color: white;
        background-color: transparent;
        border: 2px solid white;
    }

        .btn-ver-mais:hover {
            background-color: white;
            color: purple;
        }

    #divider::before, .divider::after {
        flex: 1;
        content: '';
        padding: 3px;
        background-color: red;
        margin: 5px;
    }
</style>
<div class="" style="width: 100%; height: 50px; background-color: white;"></div>
<div class="container">
    <div class="text-center mt-5">
        <span class="reveal py-2 px-5 fs-3 rounded-4" style="color:purple; background-color: #F8F9FA;"><strong>LANÇAMENTOS</strong></span>
        <div class="d-flex align-items-center justify-content-center my-3 reveal">
            <hr class="mx-2" style="width: 40%; height: 3px; background-color: black; border: none;">
            <span class="px-2 text-muted" style="font-size: 2rem;">
                <i class="fa-solid fa-gift"></i>
            </span>
            <hr class="mx-2" style="width: 40%; height: 3px; background-color: black; border: none;">
        </div>
    </div>
    <p class="text-center mb-5 reveal">Confira os novos Produtos da empresa!</p>
    <div class="row my-5 justify-content-around align-items-center gap-3 reveal">

        <div class="col-8 col-md-3 text-center shadow image-hover">
            <img src="~/Content/Produtos/000000017814.png" class="img-fluid h-75 my-3" />
            <div class="overlay">
                <button class="btn btn-ver-mais" data-bs-toggle="modal" data-bs-target="#infoModalProduto">Ver Mais</button>
            </div>
        </div>
        <div class="col-8 col-md-3 text-center shadow image-hover">
            <img src="~/Content/Produtos/000000017815.png" class="img-fluid h-75 my-3" />
            <div class="overlay">
                <button class="btn btn-ver-mais" data-bs-toggle="modal" data-bs-target="#infoModalProduto2">Ver Mais</button>
            </div>
        </div>
        @*<div class="col-md-3 text-center shadow image-hover">
            <img src="~/Content/Produtos/000000017785.png" class="img-fluid h-75 my-3" />
            <div class="overlay">
                <button class="btn btn-ver-mais" data-bs-toggle="modal" data-bs-target="#infoModalProduto3">Ver Mais</button>
            </div>
        </div>*@
        @*<div class="col-md-3 text-center shadow image-hover">
            <img src="~/Content/Produtos/000000017752.png" class="img-fluid h-50 my-3" />
            <div class="overlay">
                <button class="btn btn-ver-mais" data-bs-toggle="modal" data-bs-target="#infoModalProduto4">Ver Mais</button>
            </div>
        </div>*@
    </div>
</div>
<!-- Modais -->
<div class="modal fade" id="infoModalProduto" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content border-0 rounded-4 shadow-lg">
            <!-- Botão de fechar no canto superior -->
            <div class="position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" style="cursor:pointer;">
                <i class="fas fa-xmark me-1"></i>
            </div>
            <div class="container py-5">
                <div class="row justify-content-center">
                    <div class="col-lg-10 text-center">
                        <div class="modal-body">
                            <!-- Título estilizado -->
                            <h2 class="text-uppercase fw-bold">Lisa Clareador <span style="color:deeppink;">rosa mosqueta</span></h2>
                            <p class="item-intro text-muted">Clareamento eficaz</p>

                            <!-- Imagem do produto -->
                            <img class="img-fluid d-block mx-auto my-4" src="~/Content/Produtos/000000017814.png" alt="" style="height: 233px; width: 233px;" />

                            <!-- Texto descritivo -->
                            <p>
                                Recupere a uniformidade do tom da sua pele com o poder dos ativos clareadores mais desejados: Óleo de Rosa Mosqueta + Niacinamida.
                                O Lisa Clareador Lumina Bio Soft foi desenvolvido especialmente para tratar áreas com hiperpigmentação como axilas, virilha, joelhos e cotovelos,
                                suavizando marcas causadas por atrito, sol, tempo ou pequenas agressões.
                                Com uma fórmula leve, hidratante e de rápida absorção, ele atua nos processos de produção, formação e distribuição da pigmentação da pele,
                                promovendo um tom mais equilibrado, iluminado e com toque sedoso. Ideal para o uso diário,
                                é o cuidado que sua pele precisa para se sentir mais confiante e radiante!
                            </p>

                            <!-- Assinatura -->
                            <p class="mt-4" style="color: deeppink;">
                                Atenciosamente, Equipe de MKT e Desenvolvimento de Produtos SOFT HAIR e BIO SOFT.
                            </p>

                            <!-- Botão de fechar -->
                            <button class="btn btn-custom btn-xl text-uppercase mt-3 text-white" style="background-color: deeppink" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Fechar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="infoModalProduto2" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content border-0 rounded-4 shadow-lg">
            <!-- Botão de fechar personalizado no canto superior -->
            <div class="position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" style="cursor:pointer;">
                <i class="fas fa-xmark me-1"></i>
            </div>
            <div class="container py-5">
                <div class="row justify-content-center">
                    <div class="col-lg-10 text-center">
                        <div class="modal-body">
                            <!-- Título com cor temática -->
                            <h2 class="text-uppercase fw-bold">Lisa Esfoliante <span style="color:indianred;">Cereja em Caldas</span></h2>
                            <p class="item-intro text-muted">Pele limpa e saudável, 2 em 1!</p>

                            <!-- Imagem do produto -->
                            <img class="img-fluid d-block mx-auto my-4" src="~/Content/Produtos/000000017815.png" alt="" style="height: 233px; width: 233px;" />

                            <!-- Texto de descrição -->
                            <p>
                                Transforme seu banho em um ritual delicioso com o novo Creme Lisa Esfoliante Cereja em Caldas Bio Soft.
                                Uma combinação exclusiva de gel de limpeza esfoliante e esfoliante cremoso hidratante que, juntos, limpam,
                                esfoliam e  deixam sua pele com toque macio e cheiro marcante. Ideal para quem busca uma rotina prática e sensorial,
                                o Creme Esfoliante Cereja em Calda remove células mortas, limpa profundamente e deixa a pele com um toque macio, sedoso e deliciosamente perfumado.
                                A fragrância marcante e sofisticada de cereja torna seu banho premium ainda mais gostoso e cheiroso!
                                Experimente esse cuidado 2 em 1 e sinta a diferença.
                            </p>

                            <!-- Assinatura -->
                            <p class="mt-4" style="color: indianred;">
                                Atenciosamente, Equipe de MKT e Desenvolvimento de Produtos SOFT HAIR e BIO SOFT.
                            </p>

                            <!-- Botão estilizado -->
                            <button class="btn btn-custom btn-xl text-uppercase text-white mt-3" style="background-color: indianred" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Fechar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="infoModalProduto3" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content border-0 rounded-4 shadow-lg">
            <!-- Botão de fechar customizado -->
            <div class="position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" style="cursor:pointer;">
                <i class="fas fa-xmark me-1"></i>
            </div>
            <div class="container py-5">
                <div class="row justify-content-center">
                    <div class="col-lg-10 text-center">
                        <div class="modal-body">
                            <!-- Título -->
                            <h2 class="text-uppercase fw-bold">Body Splash <span style="color:tomato;">Apricot</span></h2>
                            <p class="item-intro text-muted">Cheiro de apricot leve na pele</p>

                            <!-- Imagem -->
                            <img class="img-fluid d-block mx-auto my-4" src="~/Content/Produtos/000000017785.png" alt="Lisa Hidratante Pitaya Rosa" style="height: 233px; width: 233px;" />

                            <!-- Descrição -->
                            <p>
                                O Body Splash Pele Envolvente Bio Soft é um Floral Oriental que traz em sua saída notas de Lavanda que dão um toque de leveza e tranquilidade,
                                no coração temos um buquê floral envolvente com rosa, violeta, jasmim e lírio-do-vale, já as notas de fundo misturam a doçura da baunilha,
                                fava tonka e o conforto do musk deixando um rastro marcante. Perfeito para quem ama fragrâncias elegantes!
                                Dica: Conheça toda a linha Lisa Esfoliantes, Hidratantes e Body Splash. Tenha uma  experiência mais agradável de banho e pós banho com a linha Lisa Bio Soft.
                            </p>

                            <!-- Assinatura -->
                            <p class="mt-4" style="color: tomato;">
                                Atenciosamente, Equipe de MKT e Desenvolvimento de Produtos SOFT HAIR e BIO SOFT.
                            </p>

                            <!-- Botão -->
                            <button class="btn  btn-xl text-uppercase mt-3 text-white" data-bs-dismiss="modal" type="button" style="background-color: tomato; border: none;">
                                <i class="fas fa-xmark me-1"></i>
                                Fechar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="infoModalProduto4" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content border-0 rounded-4 shadow-lg">
            <!-- Botão de fechar customizado -->
            <div class="position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" style="cursor:pointer;">
                <i class="fas fa-xmark me-1"></i>
            </div>
            <div class="container py-5">
                <div class="row justify-content-center">
                    <div class="col-lg-10 text-center">
                        <div class="modal-body">
                            <!-- Título -->
                            <h2 class="text-uppercase fw-bold"> <span style="color:purple;">Apricot</span></h2>
                            <p class="item-intro text-muted">Saúde para o seus fios</p>

                            <!-- Imagem -->
                            <img class="img-fluid d-block mx-auto my-4" src="~/Content/Produtos/000000017752.png" alt="Lisa Hidratante Pitaya Rosa" style="height: 233px; width: 233px;" />

                            <!-- Descrição -->
                            <p>
                                A Máscara Reparação 3D Soft Hair foi desenvolvida para equilibrar o pH da fibra capilar e manutenção da saúde dos fios.
                                Ideal para cabelos porosos e/ou ressecados, promove alinhamento, maciez e leveza, além de complementar o uso dos Acidificantes da linha Acidific Line Soft Hair.
                                POTENCIALIZE OS RESULTADOS! Use com os acidificantes da linha Acidific Line (Seguindo as recomendações de uso da embalagem.
                                A Acidificação não deve ser feita diariamente).
                            </p>

                            <!-- Assinatura -->
                            <p class="mt-4" style="color: purple;">
                                Atenciosamente, Equipe de MKT e Desenvolvimento de Produtos SOFT HAIR e BIO SOFT.
                            </p>

                            <!-- Botão -->
                            <button class="btn  btn-xl text-uppercase mt-3 text-white" data-bs-dismiss="modal" type="button" style="background-color: purple; border: none;">
                                <i class="fas fa-xmark me-1"></i>
                                Fechar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>