
@{
    ViewBag.Title = "Lancamentos";
}

<style>
    .image-hover {
        position: relative;
        overflow: hidden;
    }

        .image-hover:hover .overlay {
            opacity: 1;
        }

        .image-hover:hover img {
            transform: scale(1.1); /* Zoom na imagem */
        }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(128, 0, 128, 0.3); /* Roxo transparente */
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .image-hover img {
        transition: transform 0.3s ease;
    }

    .btn-ver-mais {
        color: white;
        background-color: transparent;
        border: 2px solid white;
    }

        .btn-ver-mais:hover {
            background-color: white;
            color: purple;
        }

    #divider::before, .divider::after {
        flex: 1;
        content: '';
        padding: 3px;
        background-color: red;
        margin: 5px;
    }
</style>
<div class="" style="width: 100%; height: 50px; background-color: white;"></div>
<div class="container">
    <div class="text-center mt-5">
        <span class="reveal py-2 px-5 fs-3 rounded-4" style="color:purple; background-color: #F8F9FA;"><strong>LANÇAMENTOS</strong></span>
        <div class="d-flex align-items-center justify-content-center my-3 reveal">
            <hr class="mx-2" style="width: 40%; height: 3px; background-color: black; border: none;">
            <span class="px-2 text-muted" style="font-size: 2rem;">
                <i class="fa-solid fa-gift"></i>
            </span>
            <hr class="mx-2" style="width: 40%; height: 3px; background-color: black; border: none;">
        </div>
    </div>
    <p class="text-center mb-5 reveal">Confira os novos Produtos da empresa</p>
    <div class="row my-5 justify-content-around align-items-center gap-3 reveal">

        <div class="col-md-3 text-center shadow image-hover">
            <img src="~/Content/Produtos/000000017794.png" class="img-fluid h-75 my-3" />
            <div class="overlay">
                <button class="btn btn-ver-mais" data-bs-toggle="modal" data-bs-target="#infoModalProduto">Ver Mais</button>
            </div>
        </div>
        <div class="col-md-3 text-center shadow image-hover">
            <img src="~/Content/Produtos/000000017784.png" class="img-fluid h-75 my-3" />
            <div class="overlay">
                <button class="btn btn-ver-mais" data-bs-toggle="modal" data-bs-target="#infoModalProduto2">Ver Mais</button>
            </div>
        </div>
        <div class="col-md-3 text-center shadow image-hover">
            <img src="~/Content/Produtos/000000017785.png" class="img-fluid h-75 my-3" />
            <div class="overlay">
                <button class="btn btn-ver-mais" data-bs-toggle="modal" data-bs-target="#infoModalProduto3">Ver Mais</button>
            </div>
        </div>
        <div class="col-md-3 text-center shadow image-hover">
            <img src="~/Content/Produtos/000000017752.png" class="img-fluid h-50 my-3" />
            <div class="overlay">
                <button class="btn btn-ver-mais" data-bs-toggle="modal" data-bs-target="#infoModalProduto4">Ver Mais</button>
            </div>
        </div>
    </div>
</div>
<!-- Modais -->
<div class="modal fade" id="infoModalProduto" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content border-0 rounded-4 shadow-lg">
            <!-- Botão de fechar no canto superior -->
            <div class="position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" style="cursor:pointer;">
                <i class="fas fa-xmark me-1"></i>
            </div>
            <div class="container py-5">
                <div class="row justify-content-center">
                    <div class="col-lg-10 text-center">
                        <div class="modal-body">
                            <!-- Título estilizado -->
                            <h2 class="text-uppercase fw-bold">Lisa Clareador <span style="color:burlywood;">virilhas e axilas</span></h2>
                            <p class="item-intro text-muted">Clareamento eficaz</p>

                            <!-- Imagem do produto -->
                            <img class="img-fluid d-block mx-auto my-4" src="~/Content/Produtos/000000017794.png" alt="Lisa Hidratante Ameixa" style="height: 233px; width: 233px;" />

                            <!-- Texto descritivo -->
                            <p>
                                Também disponível na versão bisnaga 110g, o Creme Clareador Bio Soft é indicado para axilas,
                                virilha e regiões escurecidas pelo atrito ou uso de lâmina, como cotovelos.
                                Seu ativo principal, extraído do Gengibre Chinês possui tripla ação clareadora,
                                atuando na formação, síntese e transporte da melanina. Com uso contínuo, inibe gradualmente a pigmentação irregular, deixando a pele mais luminosa e uniforme.
                            </p>

                            <!-- Assinatura -->
                            <p class="mt-4" style="color: burlywood;">
                                Atenciosamente, Equipe de MKT e Desenvolvimento de Produtos SOFT HAIR e BIO SOFT.
                            </p>

                            <!-- Botão de fechar -->
                            <button class="btn btn-custom btn-xl text-uppercase mt-3 text-white" style="background-color: burlywood" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Fechar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="infoModalProduto2" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content border-0 rounded-4 shadow-lg">
            <!-- Botão de fechar personalizado no canto superior -->
            <div class="position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" style="cursor:pointer;">
                <i class="fas fa-xmark me-1"></i>
            </div>
            <div class="container py-5">
                <div class="row justify-content-center">
                    <div class="col-lg-10 text-center">
                        <div class="modal-body">
                            <!-- Título com cor temática -->
                            <h2 class="text-uppercase fw-bold">Body Splash <span style="color:darkred;">Cereja</span></h2>
                            <p class="item-intro text-muted">Cheiro de cereja leve na pele</p>

                            <!-- Imagem do produto -->
                            <img class="img-fluid d-block mx-auto my-4" src="~/Content/Produtos/000000017784.png" alt="Lisa Hidratante Melancia" style="height: 233px; width: 233px;" />

                            <!-- Texto de descrição -->
                            <p>
                                O Body Splash Pele Marcante Bio Soft é uma fragrância Floral Frutal vibrante e feminina. Suas notas de topo combinam a suculência da cereja, romã, amora,
                                pêra e maçã, o frescor cítrico do limão e toranja, e um toque especial de pimenta rosa e yogurt. No coração, a sosticação da avelã, peônia, lírio-do-vale,
                                gardênia, jasmim e manga traz cremosidade e elegância. A base envolvente mistura a doçura da baunilha, mel e chocolate com o aconchego do âmbar,
                                sândalo e almíscar, criando um rastro adocicado e envolvente. Essa fragrância é perfeita para quem deseja marcar presença o dia todo!
                                Conheça toda a Linha Lisa Esfoliantes, Hidratantes e Body Splash. Tenha uma experiência mais agradável de banho e pós banho com a linha Lisa Bio Soft.
                            </p>

                            <!-- Assinatura -->
                            <p class="mt-4" style="color: darkred;">
                                Atenciosamente, Equipe de MKT e Desenvolvimento de Produtos SOFT HAIR e BIO SOFT.
                            </p>

                            <!-- Botão estilizado -->
                            <button class="btn btn-custom btn-xl text-uppercase text-white mt-3" style="background-color: darkred" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Fechar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="infoModalProduto3" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content border-0 rounded-4 shadow-lg">
            <!-- Botão de fechar customizado -->
            <div class="position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" style="cursor:pointer;">
                <i class="fas fa-xmark me-1"></i>
            </div>
            <div class="container py-5">
                <div class="row justify-content-center">
                    <div class="col-lg-10 text-center">
                        <div class="modal-body">
                            <!-- Título -->
                            <h2 class="text-uppercase fw-bold">Body Splash <span style="color:tomato;">Apricot</span></h2>
                            <p class="item-intro text-muted">Cheiro de apricot leve na pele</p>

                            <!-- Imagem -->
                            <img class="img-fluid d-block mx-auto my-4" src="~/Content/Produtos/000000017785.png" alt="Lisa Hidratante Pitaya Rosa" style="height: 233px; width: 233px;" />

                            <!-- Descrição -->
                            <p>
                                O Body Splash Pele Envolvente Bio Soft é um Floral Oriental que traz em sua saída notas de Lavanda que dão um toque de leveza e tranquilidade,
                                no coração temos um buquê floral envolvente com rosa, violeta, jasmim e lírio-do-vale, já as notas de fundo misturam a doçura da baunilha,
                                fava tonka e o conforto do musk deixando um rastro marcante. Perfeito para quem ama fragrâncias elegantes!
                                Dica: Conheça toda a linha Lisa Esfoliantes, Hidratantes e Body Splash. Tenha uma  experiência mais agradável de banho e pós banho com a linha Lisa Bio Soft.
                            </p>

                            <!-- Assinatura -->
                            <p class="mt-4" style="color: tomato;">
                                Atenciosamente, Equipe de MKT e Desenvolvimento de Produtos SOFT HAIR e BIO SOFT.
                            </p>

                            <!-- Botão -->
                            <button class="btn  btn-xl text-uppercase mt-3 text-white" data-bs-dismiss="modal" type="button" style="background-color: tomato; border: none;">
                                <i class="fas fa-xmark me-1"></i>
                                Fechar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="infoModalProduto4" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content border-0 rounded-4 shadow-lg">
            <!-- Botão de fechar customizado -->
            <div class="position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" style="cursor:pointer;">
                <i class="fas fa-xmark me-1"></i>
            </div>
            <div class="container py-5">
                <div class="row justify-content-center">
                    <div class="col-lg-10 text-center">
                        <div class="modal-body">
                            <!-- Título -->
                            <h2 class="text-uppercase fw-bold"> <span style="color:purple;">Apricot</span></h2>
                            <p class="item-intro text-muted">Saúde para o seus fios</p>

                            <!-- Imagem -->
                            <img class="img-fluid d-block mx-auto my-4" src="~/Content/Produtos/000000017752.png" alt="Lisa Hidratante Pitaya Rosa" style="height: 233px; width: 233px;" />

                            <!-- Descrição -->
                            <p>
                                A Máscara Reparação 3D Soft Hair foi desenvolvida para equilibrar o pH da fibra capilar e manutenção da saúde dos fios.
                                Ideal para cabelos porosos e/ou ressecados, promove alinhamento, maciez e leveza, além de complementar o uso dos Acidificantes da linha Acidific Line Soft Hair.
                                POTENCIALIZE OS RESULTADOS! Use com os acidificantes da linha Acidific Line (Seguindo as recomendações de uso da embalagem.
                                A Acidificação não deve ser feita diariamente).
                            </p>

                            <!-- Assinatura -->
                            <p class="mt-4" style="color: purple;">
                                Atenciosamente, Equipe de MKT e Desenvolvimento de Produtos SOFT HAIR e BIO SOFT.
                            </p>

                            <!-- Botão -->
                            <button class="btn  btn-xl text-uppercase mt-3 text-white" data-bs-dismiss="modal" type="button" style="background-color: purple; border: none;">
                                <i class="fas fa-xmark me-1"></i>
                                Fechar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>