@{
    ViewBag.Title = "Portal";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Mantém o Layout principal
}


<style>
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #CCA9DD;
        border-radius: 10px;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: #A682C3;
        }
</style>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="ram" class="table table-striped table-hover display">
                        <thead style="background-color: mediumpurple; color: white;">
                            <tr>
                                <th>Nome</th>
                                <th>Ramal</th>
                                <th>Email</th>
                                <th>Departamento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Rodrigo Rocha</td>
                                <td>7711</td>
                                <td>rodrigo@softhair.com.br</td>
                                <td>Diretor</td>
                            </tr>
                            <tr>
                                <td>Berenice</td>
                                <td>7700</td>
                                <td>recepcao@softair.com.br</td>
                                <td>Recepção</td>
                            </tr>
                            <tr>
                                <td>Maria Eduarda</td>
                                <td>7734</td>
                                <td>centrotecnico1@softhair.com.br</td>
                                <td>Centro Técnico</td>
                            </tr>
                            <tr>
                                <td>Thiago Soares</td>
                                <td>7734</td>
                                <td>centrotecnico2@softhair.com.br</td>
                                <td>Centro Técnico</td>
                            </tr>
                            <tr>
                                <td>Jade Dayanne</td>
                                <td>7715</td>
                                <td>promocoes3@softhair.com.br</td>
                                <td>Merchandising</td>
                            </tr>
                            <tr>
                                <td>Livia Carvalho</td>
                                <td>7716</td>
                                <td>promocoes@softhair.com.br</td>
                                <td>Merchandising</td>
                            </tr>
                            <tr>
                                <td>Talyta Cristyellem</td>
                                <td>7745</td>
                                <td>promocoes2@softhair.com.br</td>
                                <td>Merchandising</td>
                            </tr>
                            <tr>
                                <td>Deivid Rodrigues</td>
                                <td>7742</td>
                                <td>promocoes1@softhair.com.br</td>
                                <td>Trade Marketing</td>
                            </tr>
                            <tr>
                                <td>Luiz Caio</td>
                                <td>-</td>
                                <td>promocoes4@softhair.com.br</td>
                                <td>Merchandising</td>
                            </tr>
                            <tr>
                                <td>Marco Tulio</td>
                                <td>7747</td>
                                <td>promocoes5@softhair.com.br</td>
                                <td>Merchandising</td>
                            </tr>
                            <tr>
                                <td>Rodrigo de Sousa</td>
                                <td>7714</td>
                                <td>rodsousa@softhair.com.br</td>
                                <td>Comercial</td>
                            </tr>
                            <tr>
                                <td>Paula Mendes</td>
                                <td>7707</td>
                                <td>comercial6@softhair.com.br</td>
                                <td>Comercial</td>
                            </tr>
                            <tr>
                                <td>Isadora Mirella</td>
                                <td>7733</td>
                                <td>comercial2@softhair.com.br</td>
                                <td>Comercial</td>
                            </tr>
                            <tr>
                                <td>João Victor</td>
                                <td>7762</td>
                                <td>comercial@softhair.com.br</td>
                                <td>Comercial</td>
                            </tr>
                            <tr>
                                <td>Gerald Dias</td>
                                <td>7761</td>
                                <td>comercial3@softhair.com.br</td>
                                <td>Comercial</td>
                            </tr>
                            <tr>
                                <td>Felipe Vieira</td>
                                <td>7736</td>
                                <td>comercial1@softhair.com.br</td>
                                <td>Comercial</td>
                            </tr>
                            <tr>
                                <td>Tatiane Franco</td>
                                <td>7737</td>
                                <td>comercialpedidos@softhair.com.br</td>
                                <td>Comercial</td>
                            </tr>
                            <tr>
                                <td>Rafael Rocha</td>
                                <td>-</td>
                                <td>rafael@softhair.com.br</td>
                                <td>Gerência Comercial</td>
                            </tr>
                            <tr>
                                <td>André Borges</td>
                                <td>-</td>
                                <td>andreborges@softhair.com.br</td>
                                <td>Gerência Comercial</td>
                            </tr>
                            <tr>
                                <td>Dayse Mara</td>
                                <td>7710</td>
                                <td>dayse@softhair.com.br</td>
                                <td>RH</td>
                            </tr>
                            <tr>
                                <td>Tininha</td>
                                <td>7746</td>
                                <td>pessoal1@softhair.com.br</td>
                                <td>RH</td>
                            </tr>
                            <tr>
                                <td>Jaqueline Rodrigues</td>
                                <td>7729</td>
                                <td>publicidade1@softhair.com.br</td>
                                <td>Marketing</td>
                            </tr>
                            <tr>
                                <td>Pedro Ivo</td>
                                <td>7751</td>
                                <td>criacao@softhair.com.br</td>
                                <td>Marketing</td>
                            </tr>
                            <tr>
                                <td>Luana Alves</td>
                                <td>7728</td>
                                <td>luana.alves@softhair.com.br</td>
                                <td>Marketing</td>
                            </tr>
                            <tr>
                                <td>Camilla Clemence</td>
                                <td>7729</td>
                                <td>camilla.clemence@softhair.com.br</td>
                                <td>Marketing</td>
                            </tr>
                            <tr>
                                <td>Natã Durães</td>
                                <td>7756</td>
                                <td>publicidade3@softhair.com.br</td>
                                <td>Marketing</td>
                            </tr>
                            <tr>
                                <td>Luiz Gustavo</td>
                                <td>-</td>
                                <td>publicidade2@softhair.com.br</td>
                                <td>Marketing</td>
                            </tr>
                            <tr>
                                <td>Karolina Chaves</td>
                                <td>7712</td>
                                <td>ecommerce@softhair.com.br</td>
                                <td>E-Commerce</td>
                            </tr>
                            <tr>
                                <td>Lorrayne Braga</td>
                                <td>7708</td>
                                <td>loja@softhair.com.br</td>
                                <td>E-Commerce</td>
                            </tr>
                            <tr>
                                <td>Dayse Xavier</td>
                                <td>7709</td>
                                <td>compras1@softhair.com.br</td>
                                <td>Compras</td>
                            </tr>
                            <tr>
                                <td>Alana Rodrigues</td>
                                <td>7763</td>
                                <td>compras2@softhair.com.br</td>
                                <td>Compras</td>
                            </tr>
                            <tr>
                                <td>Silvânia Maria</td>
                                <td>-</td>
                                <td>silvania@softhair.com.br</td>
                                <td>Financeiro / Fiscal</td>
                            </tr>
                            <tr>
                                <td>Ádila Ribeiro</td>
                                <td>7752</td>
                                <td>financeiro4@softhair.com.br</td>
                                <td>Financeiro / Fiscal</td>
                            </tr>
                            <tr>
                                <td>Izabela Amora</td>
                                <td>7704</td>
                                <td>fiscal@softhair.com.br</td>
                                <td>Financeiro / Fiscal</td>
                            </tr>
                            <tr>
                                <td>Danielle Stefânia</td>
                                <td>7705</td>
                                <td>financeiro1@softhair.com.br</td>
                                <td>Financeiro / Fiscal</td>
                            </tr>
                            <tr>
                                <td>Crimácia Oliveira</td>
                                <td>7713</td>
                                <td>faturamento@softhair.com.br</td>
                                <td>Financeiro / Fiscal</td>
                            </tr>
                            <tr>
                                <td>Camila Barbosa</td>
                                <td>7732</td>
                                <td>financeiro2@softhair.com.br</td>
                                <td>Financeiro / Fiscal</td>
                            </tr>
                            <tr>
                                <td>Nancy</td>
                                <td>7720</td>
                                <td>financeiro5@softhair.com.br</td>
                                <td>Financeiro / Fiscal</td>
                            </tr>
                            <tr>
                                <td>Letícia Rodrigues</td>
                                <td>7701</td>
                                <td>leticia@softhair.com.br</td>
                                <td>Jurídico</td>
                            </tr>
                            <tr>
                                <td>Andreza Domenicci</td>
                                <td>7722</td>
                                <td>andreza@softhair.com.br</td>
                                <td>Jurídico</td>
                            </tr>
                            <tr>
                                <td>Aline Moreira</td>
                                <td>7731</td>
                                <td>juridico2@softhair.com.br</td>
                                <td>Jurídico</td>
                            </tr>
                            <tr>
                                <td>Karoline Oliveira</td>
                                <td>7739</td>
                                <td>juridico1@softhair.com.br</td>
                                <td>Jurídico</td>
                            </tr>
                            <tr>
                                <td>Victor César</td>
                                <td>7757</td>
                                <td>juridico3@softhair.com.br</td>
                                <td>Jurídico</td>
                            </tr>
                            <tr>
                                <td>Luiz Guilherme</td>
                                <td>7727</td>
                                <td>cpd@softhair.com.br</td>
                                <td>TI</td>
                            </tr>
                            <tr>
                                <td>Arthur Reis</td>
                                <td>7755</td>
                                <td>sistemas1@softhair.com.br</td>
                                <td>TI</td>
                            </tr>
                            <tr>
                                <td>Fagner Miguel</td>
                                <td>7749</td>
                                <td>sistemas@softhair.com.br</td>
                                <td>TI</td>
                            </tr>
                            <tr>
                                <td>Denise Vasconcelos</td>
                                <td>7719</td>
                                <td>laboratorio@softhair.com.br</td>
                                <td>Produção</td>
                            </tr>
                            <tr>
                                <td>Diego Madureira</td>
                                <td>7718</td>
                                <td>transportes@softhair.com.br</td>
                                <td>Logística / Transportes</td>
                            </tr>
                            <tr>
                                <td>Antônio Sérgio</td>
                                <td>7717</td>
                                <td>sergio@softhair.com.br</td>
                                <td>Logística / Transportes</td>
                            </tr>
                            <tr>
                                <td>Josiane Braga / Sindy</td>
                                <td>7721</td>
                                <td>josiane@softhair.com.br</td>
                                <td>Laboratório</td>
                            </tr>
                            <tr>
                                <td>Michelle</td>
                                <td>7735</td>
                                <td>garantiaq3@softhair.com.br</td>
                                <td>Laboratório</td>
                            </tr>
                            <tr>
                                <td>Anna Karla</td>
                                <td>7741</td>
                                <td>industrial@softhair.com.br</td>
                                <td>Laboratório</td>
                            </tr>
                            <tr>
                                <td>Fernanda / Cida</td>
                                <td>7741</td>
                                <td>controleq4@softhair.com.br</td>
                                <td>Laboratório</td>
                            </tr>
                            <tr>
                                <td>Cecília</td>
                                <td>7741</td>
                                <td>producao@softhair.com.br</td>
                                <td>Laboratório</td>
                            </tr>
                            <tr>
                                <td>Lívia Rodrigues</td>
                                <td>7753</td>
                                <td>livia@softhair.com.br</td>
                                <td>Qualidade</td>
                            </tr>
                            <tr>
                                <td>Poliane Fortunato</td>
                                <td>7723</td>
                                <td>qualidade2@softhair.com.br</td>
                                <td>Qualidade</td>
                            </tr>
                            <tr>
                                <td>Gabriela Maciel</td>
                                <td>7754</td>
                                <td>qualidade@softhair.com.br</td>
                                <td>Qualidade</td>
                            </tr>
                            <tr>
                                <td>Samuel / Camila</td>
                                <td>3582-6999</td>
                                <td>cd@softhair.com.br</td>
                                <td>CD</td>
                            </tr>
                            <tr>
                                <td>Maria José</td>
                                <td>2510-2336</td>
                                <td>embalagensfilial@softhair.com.br</td>
                                <td>Além Paraíba 467</td>
                            </tr>
                            <tr>
                                <td>Bárbara</td>
                                <td>(31) 97589-1166</td>
                                <td>vitrine.distrib@gmail.com</td>
                                <td>Vitrine DISTRIBUIDORA</td>
                            </tr>
                            <tr>
                                <td>Daisy Paula</td>
                                <td>(31) 98451-9239</td>
                                <td>vitrine.qualidade@gmail.com</td>
                                <td>E-Commerce</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="rgramais" class="section-one about_section layout_padding reveal" style="background-color: purple;">
    <div class="display-5 fw-bolder text-center justify-content-center">
        <h1 class="tt4">
            Regras do Telefone
        </h1>
    </div>
    <div class="container" style="background-color: purple; color: white;">
        <div class="col-12">
            <div class="text-center mb-5">
                <p>
                    Siga estas <strong>instruções</strong> para usar corretamente o <strong>sistema telefônico interno</strong>:
                </p>
            </div>
            <div class="row">
                <div class="col-md-4 p-4 d-flex flex-column h-100">
                    <h4>
                        PARA LIGAÇÕES INTERNAS
                    </h4>
                    <hr>
                    <p>
                        Disque: 5 + Ramal desejado<br>
                        <strong>Para Transferir Ligações:</strong> Pressione Flash + Ramal desejado
                        Para lingações
                    </p>
                </div>
                <div class="col-md-4 p-4 d-flex flex-column h-100">
                    <h4>
                        INTERURBANAS FIXO
                    </h4>
                    <hr>
                    <p>
                        Disque: 0 + DDD + Numero de Telefone
                        <strong>Atenção:</strong> Não utilize código de operadora.
                        Fixo para celular são <strong>proibidas</strong>.
                    </p>
                </div>
                <div class="col-md-4 p-4 d-flex flex-column h-100">
                    <h4>
                        INTERURBANAS CELULAR
                    </h4>
                    <hr>
                    <p>
                        Disque: <strong>021</strong> + DDD + Numero do Celular
                        Sempre utilize a operadora <strong>Claro</strong>.
                        Em caso de dúvidas, contate o <strong>setor de TI</strong>.
                    </p>
</div>
</div>
</div>
</div>
</section>