@{
    ViewBag.Title = "Portal";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Mantém o Layout principal
}


<style>
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #CCA9DD;
        border-radius: 10px;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: #A682C3;
        }
</style>

<!-- Carregar as Partial Views -->
<div id="homeSection">
    @Html.Partial("_Home")
</div>
<div id="aboutSection">
    @Html.Partial("_About")
</div>
<div id="lancamentosSection">
    @Html.Partial("_Lancamentos")
</div>
<div id="contactSection">
    @Html.Partial("_Contact")
</div>
